.diner {
    .dishList {
        .dish {
            flex-direction: row;
            justify-content: space-between;
            display: flex;
            margin-top: 15px;
        
            .dishInfo {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
        
                .image {
                    width: 70px;
                    height: 70px;
                    border-radius: 15px;
                    background-color: #e8f7fe;
                }
                .info {
                    margin-left: 20px;
        
                    .name {
                        color: #1a76bc;
                        font-size: 18px;
                    }
                    .prize {
                        color: #848693;
                        font-size: 17px;
                    }
                }
            }
        
            .quantity {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
        
                .minus {
                    width: 35px;
                    height: 35px;
                    border-radius: 35px;
                    background-color: #eaedf4;
                    position: relative;
        
                    .minusIcon {
                        width: 16px;
                        height: 2px;
                        background-color: #888c98;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                    }
                }
        
                .number {
                    color: #1c77bd;
                    font-size: 20px;
                    margin: 0px 15px 0px 15px;
                }
        
                .add {
                    width: 35px;
                    height: 35px;
                    border-radius: 35px;
                    background-color: #eaedf4;
                    position: relative;
        
                    .addIcon {
                        width: 16px;
                        height: 2px;
                        background-color: #888c98;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                        &:before {
                            content: "";
                            width: 2px;
                            height: 16px;
                            background-color: #888c98;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 50%;
                            left: 50%;
                        }
                    }
                }
            }
        }
    }
}